*{
  margin: 0;
}
.App{
  background-color: #48A9A6;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding: 1rem;
  border-bottom: whitesmoke;
  border-style: outset;
  background-color: teal;
  position: static;
}
.header__menu{
  padding-top: 10px;
}
.bottom__cards{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0,0, 0, 0.5);
  height: 300px;
  background-color: #731dd8;
}

.header__search{
  min-width: 20px; 
  padding: 10px;
  display: inline-flex;
  
  border-collapse: collapse;
  border: 0px;
  background-color: transparent;
}
.header__search:hover{
  border-style: solid;
}
.header > SearchIcon {
  padding: 20px;
}
::placeholder{
  color: aliceblue;
}
/* slider */

.slider{
  
  height: 230px;
 
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0,0, 0, 0.5);
  background-color: #731dd8;
}

/* bottom */
.card{
  /* text-align: center;
  
  
  padding-top: 5px;
  opacity: 2;
  
  height: 250px;
  color: aliceblue;
  
  display: flex;
  margin-top: 0px; */
  width: 150px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  border-style: groove;
  justify-content: space-between;

}
.card-body{
  background-color: tomato;
}

.card-title{
  color: #262626;
  display: block;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* margin-bottom: 0 !important; */
}

.container{
  margin-top: 0px;
  width: 100%;
  

  justify-content: space-between;
}
.block__space{
  justify-content: space-between;
  ;
}
img {
  display:block;
  margin:auto;
}
.slick-prev:before, .slick-next:before {
  color: black !important;
}




.follow{
  background-color: #3897f0 !important;
  border: 1px solid #3897f0 !important;
  border-radius: 4px;
  color: violet;
  margin-top: 20px !important;
}
.card__cases{

  
  font-weight: 20px;
  color: #fa0b0b;
  display: block;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slide__copm{
  align-items: center;
  text-align: center;
  padding-top: 60px;
  background-color: transparent;

}

/* .slide__style{
  height: 300px;
 
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0,0, 0, 0.5);
} */
